<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">SecureTea Secure your system.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">What is OWASP SecureTea project</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The OWASP SecureTea Project is an application designed to help secure a person's laptop</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>How it works ?</h4>
                                <h4 class="subheading"> </h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">With the help of IOT (Internet of Things)
                                        notify users (via various communication mechanisms), whenever someone accesses their computer / server.
                                         This application uses the touchpad/mouse/wireless mouse to determine activity and is developed
                                          in Python and tested on various machines (Linux, Mac & Windows).</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Objective</h4>
                                <h4 class="subheading"></h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">To alert the user via various communication mechanism,
                                        whenever The Computer / Server had been accessed by someone / attacker.
                                         And also it can be used to monitor your system & SecureTea firewall as Defense.</p>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>