<!-- PreRequsites Section -->
<section id="prereq">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Pre-requisites
                </h2>
            </div>
        </div>
        <h4 class="service-heading">Supported Platforms
        </h4>
        <p class="text-muted">OWASP SecureTea Tool project runs on Linux, Windows and macOS operating systems. It is compatible with both Python 2 and Python 3.
        </p>
        <h4 class="service-heading">Hardware
        </h4>
        <li class="text-muted">Linux OS / Raspberry Pi - have sudo access on the terminal/console
        </li>
        <li class="text-muted">Mouse / Wireless Mouse / Touchpad congenital laptop
        </li>
        <h4 class="service-heading">Software </h4>
        <li class="text-muted">Python 2.x or 3.x
        </li>
        <li class="text-muted">Angular</li>
        <li class="text-muted">Twitter account (optional)
        </li>
        <li class="text-muted">Telegram account (optional)
        </li>
        <li class="text-muted">Slack account (optional)
        </li>
        <li class="text-muted">Twilio SMS account (optional)
        </li>
        <li class="text-muted">Amazon Web Services account (optional)
        </li>
        <li class="text-muted">Libnetfilter</li>
        <li class="text-muted">Yara</li>
        <li class="text-muted">Clam AV
        </li>

        <h4 class="service-heading">Installing pre-requisites

        </h4>

        <p class= "text-muted">Python<br><a>https://www.python.org/</a></p>
        <p class= "text-muted">Angular:<br><a>https://angular.io/</a></p>
        <p class= "text-muted">Libnetfilter:<br><a>https://www.netfilter.org/projects/libnetfilter_queue/</a></p>

        <div class="codebg">
            <p class="text-muted">
                    sudo apt-get update <br>
                    sudo apt-get install build-essential python-dev libnetfilter-queue-dev

            </p>            
        </div>
    </div>