<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works.. ?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Target-Users</h4>
                    <p class="text-muted">It was written to be used by anyone who is interested in IoT Security (Internet of Things) and still needs further development.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Functioning</h4>
                    <p class="text-muted">
                        <ul> Keep track of the movement of the mouse or touchpad</ul>
                            <ul>Detect who accesses your device(laptop or server other iot device) with mouse or touchpad installed</ul>
                            <ul> Send warning messages on Twitter/Twilio-SMS/Slack/Telegram. More features on the way.</ul>
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Installation</h4>
                    <p class="text-muted">You can install SecureTea from PyPi package manager <br>
                        <i>pip install securetea
                        </i>
                    </p>
                </div>
            </div>
        </div>
    </section>