<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How it works.. ?</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mouse-pointer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Pointer - Movements</h4>
                    <p class="text-muted">Keep track of the movement of the mouse or touchpad</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Functioning</h4>
                    <p class="text-muted">
                        
                            Detect who accesses your device(laptop or server other iot device) with mouse or touchpad installed
                            
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sends Warning</h4>
                    <p class="text-muted">Send warning messages on Twitter/Twilio-SMS/Slack/Telegram. More features on the way.
                    </p>
                </div>
            </div>
        </div>
    </section>